.spanAddCart{
    padding: 4px;
    text-transform: uppercase;
}
.buttonAddCart{
    border: 2px solid black;
    border-radius: 3px;
}
.countBox{
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
    margin-right: 10px;
    background-color: white;
}
.buttonMinus{
    padding: 5px;
    border: none;
}
.buttonMas{
    padding: 5px;
    border: none;
}